@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');

body{
    font-family: 'Zilla Slab', serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.colorPicker{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.dot{
    cursor: pointer;
    height: 35px;
    width: 25px;
    border-radius: 2px;
    border: 0;
    transition: transform 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}

.dot:hover{
    transform: scale(1.2);
}

.teslaInfo p{
    text-align: center;
    margin: 0;
    transform: translateY(-100%);
    color: #cccccc;
    font-size: 20px;
}

.teslaInfo img{
    width: 100%;
    object-fit:cover;
}

.teslaInfo{
    max-width: 1000px;
}


